*{
    margin: auto;
    padding: 0;
}
.box{
    border: 1px solid black;
    width: 25rem;
    height: 25rem;
    /* margin: auto; */
    background-image: url("./anime01.jpg");
    background-size: 25rem 25rem;
    overflow: hidden;


}
.box01{
    /* border: 1px solid black; */
    width: 25rem;
    height: 25rem;
    /* margin:auto; */
    background-image: url("./anime04.jpg");
    background-size: 25rem 25rem;
    transform: translateY(100%);
    transition: all 1s linear;
    overflow: hidden;
   
}
.box:hover .box01{
    transform: translateY(0);
}
.box02{
    border: 1px solid red;
    width: 10rem;
    height: 10rem;
    background-image: url("./anime09.jpg");
    background-size: 25rem 25rem;
    transform: translatex(100%);
    transition: all .5s linear;


}
.box .box01:hover .box02{
    transform: translateX(0);
    /* transform: rotate(60deg); */
}
