*{
    color: Blue;
}

h1,p {
    color: lightcoral;
}

#heading1
{
    background-color: black;  color:powderblue;
}

#heading
{
background-color: blue; color:aqua;
}

p{
    color:violet;
}

#heading2{
    background-color: darkgoldenrod; color:yellowgreen; 
}








    
    



