.box{
    /* background-color: red; */
}
.box h1{
    /* background-color: aqua; */
}
.box p{
    /* background-color: blanchedalmond; */
}
body{
    /* background-color: violet; */
    background-image: url(https://img.freepik.com/free-photo/blue-smooth-wall-textured-background_53876-106133.jpg?w=740&t=st=1707305015~exp=1707305615~hmac=6abe6f966503a10148b78162a51eb5dc456698ac3eb3164b324840a7859060fc);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}