body{
    background-color: bisque;
}

.main{
    /* background-color: aqua; */
    background-image: url("../web/images/11.jpg");
    /* background-repeat: repeat-y; */
    background-repeat: no-repeat;
    /* background-position: top center; */
    /* background-size: cover; */
    /* background-attachment:scroll */
    /* background-attachment: fixed; */
    background-size: contain;
}