/* *{
    color:rgb(29, 241, 121);
} */
#html{
    color: blanchedalmond;
    background-color: blue;

}
.lang{
    color:aliceblue;
    background: rgb(209, 2, 255);

}
.css{
    color: blueviolet;
    background: blue;
}
#ch1{
    color: white;
    background: black ;
}
#ch2{
    color: white;
    background: black ;
}
#ch3{
    color: white;
    background: black ;
}
#ch4{
    color: white;
    background: black ;
}

#ch5{
    color: white;
    background: black ;
}

#ch6{
    color: white;
    background: black ;
}

#ch7{
    color: white;
    background: black ;
}




