       
       *{
        
    }
    /*
     
     h1{
         color: aqua;
     } 
     
     */

     
     .lang{
         color: white;
         background-color: blue;
        }
        #html{
            color: brown;
            background-color: aquamarine;
        }