// p{
//     width: 10 / 10 + px;
    
// }

$color:#4ee608;
.box{
    height: 200px;
    width: 400px;
    border: 2px solid black;
    background-color: $color;
    margin-top: 10px;
}

.main{
    @extend .box;
    // background-color: lighten($color,20);
    // background-color: darken($color,4);
    // background-color: adjust-hue($color,20);
    // background-color: saturate($color, 100);
    // background-color: desaturate($color, 50);
    // background-color: mix(red, yellow, 50%);
    background-color: transparentize($color, $amount: .5);    
}

// lighten()
// darken()
// adjust-hue()
// saturate()
// desaturate()
// mix()
// transparentize()


// Number Functions
//         abs()
//         ceil()
//         floor()
//         round()
//         max()
//         min()
//         comparable()
//         percentage()
//         random()
//         unit()
//         unitless()


.box{
    // height: abs(-25px);
    // height: ceil(25.7854px);
    // height: floor(25.7854px);
    // height: round(25.678px);

    // height: max(25px, 15px, 10px);
    // height: min(25px, 15px, 10px);

    // height: comparable(10px,30em);

    // height: percentage(.5);

    // height: random(100)+px;

    //   height: unit(10px); 
    // height: unitless(10em); 


}


.one{
    // font-family: quote(ABCD);
    // font-family: str-index("ABCDEF", "D");
    // font-family: str-insert("Suraj Kumar", " Singh" ,12  );

    // font-family: str-slice("ABCDEF", 4, 4);
    // font-family: to-upper-case("abcd");
    // font-family: to-lower-case("ABCD");
    // font-family: unique-id();
    font-family: unquote("Arial");

}

// String Functions:
//         quote()
//         str-index()
//         str-insert()
//         str-length()
//         str-slice()
//         to-upper-case()
//         to-lower-case()
//         unique-id()
//         unquote()