#heading2{
    background-color: cyan;
    color: red;
}

p{
    background-color: black;
    color:blue;

}

.my-heading{
background-color: rgb(161, 47, 255);
}


.box{
    background-color: red;
    color: white;
}