.heading {
    color:rebeccapurple;
}
.para{
    background-color: black;
    color: chocolate;
}
#first{
    color: blueviolet;
}
.home {
    color: chartreuse;
     color: rgb(231, 21, 21);
}
.home2{
    color: brown;
    color: black;
}

