@media screen and (max-width:600px) {
    
   .box{
    display: none;

   }
   .anup{
    border: 2px solid red;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    background-color: black;
   }
   .anup input{
      display: none;
   }
   .anup img{
      /* background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWD4qFxqmNkppcNU9C3oaGiwJ6k72w2OLPbg&usqp=CAU); */
      border: 2px solid yellow;
      height: 60px;
      width: 100px;
   }
   .anup label i{
      color: white;
      font-size: 40px;
      position: relative;
      left: 150px;
   }
   .anup-row1{
   color: white;
   position: relative;
   top: 60px;
   left: -200px;
   font-size: 30px;
   border: 2px solid red;
   height: 50vh;
   width: 20vh;
   }
   input[type='checkbox']:checked .anup{
   border: 2px solid yellow;
 }
 input[type='checkbox']{
   display: none;
}
}