*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    width: 100%;
    height: 100%;
    background-color: rgba(65, 105, 225, 0.1);
    
}

.wrapper > form{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 42rem;
    position: absolute;
    top: calc(50% - 21rem);
}

.wrapper > form> h1{
    font-size: 3rem;
    padding-bottom: 1.5rem;
    /* width: 19.5rem; */
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
margin: 0; 
}

.wrapper > form > input,button{
    border: 1px solid grey;
    font-size: large;
    padding: .1rem .5rem;
    height: 2.2rem;
    width: 19rem;
    margin: .1rem 0 1.2rem 0;
    outline: transparent;
    border-radius: 2px; 
    
}

.wrapper > form > select{
    margin: .1rem 0 1.2rem 0;
    padding: .1rem .5rem;
    font-size: large;
    height: 2.2rem;
    width: 19rem;
    border: 1px solid grey;
    border-radius: 2px;
    background-color: rgba(65, 105, 225, 0.1);
   

}

.wrapper > form > .field{
    display: block;
    width: 19rem;
    font-size: larger;
    text-align: left;
}

.wrapper > form > .field > span{
    color: red;
}

.wrapper > form > .msg{
    color: red;
    font-size: small;
    margin-top: -1rem;
    display: block;
    text-align: left;
    width: 19rem;
    margin-bottom: .7rem;
}

.wrapper > form > input[type="submit"],button{
    background-color: royalblue;
    border-radius: 2px;
    color: white;

    cursor: pointer;
}

.wrapper > form > p{
    font-size: large;
    width: 19rem;
    margin: .5rem 0;
}


.wrapper > form > p > a{
    font-size: large;
    color: blue;
}


.wrapper > form > p > a:hover{
    color: royalblue;
    text-decoration: underline;
}

.wrapper > form > .acc-msg > a:hover{
    color: white;
}


@media screen and (max-width:768px) {
    .wrapper > form > label{
        font-weight: 900;
    }
    .wrapper > form > h1{
        text-align:center;
        font-size:2.5rem;
    }
}

#otp-btn{
    border:none;
    color: royalblue;
    font-size: large;
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
}

#otp-btn:hover{
    color: black;
}